@charset "UTF-8";

body{
    background-color: coral;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    color: darkblue;
    font-size: 20px;
}
h1{
    color: darkgreen;
}
h2{color: brown;
}
p{text-align: justify;
}