@charset 'UTF-8';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;800&display=swap');


header{
    background-color: darkgray;
    display: flex;
    justify-content: space-between;
}

header  > span{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-weight: 800;
    padding: 8px;
}

.pokebola{
    height: 50px;
    width: 50px;
    padding: 8px;
    display: flex;
    justify-content:baseline;
}

.mudar{
    height: 50px;
    width: 50px;
    padding: 8px;
}
main .listagem-pokemon{
    background-color: cadetblue;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    
} 
main .cartao-pokemon{
    background-color: #d8e3ec;
    width: 200px;
    padding: 15px;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items:center;
    
    
}
main .nome{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
    main .numero{
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
}
main .gif{
    display: flex;
    justify-self: center;
}