@charset  "UTF-8" ;
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
*{
    margin: 0px;
    padding: 0px;    
}
:root{
 --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;
}
   
body{
    display: block;
    min-height: 100vh;
}
header{
    background-color: black;
    color: white;
    text-align: center;
    width: 100%;
  
}
header > h1{
    font-family: var(--fonte2);
    padding-top: 60px;
    font-size: 10vw;
    font-variant: small-caps;
    margin-bottom: 10px;
    
}
        
header > p{
    padding-bottom: 50px;
    padding-top: 10px;
    margin-top: -20px;
    font-family: var(--fonte1);
    
    
}
.link{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.link:hover{
    text-decoration: underline;
}

main{
    font-family: var(--fonte3);
    font-size: 3.3vw;
    padding: 10px 0px 50px 10px;
}
section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
}
  
.imagem1{
    background: darkgray url(imagens/background001.jpg) right center no-repeat fixed;
    background-size: cover;
    margin-left: -10px;
    
}

.imagem1 > p{
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.438);
    color: white;
}

.imagem2{
    background: darkgray url(imagens/background002.jpg) center center no-repeat fixed;
    margin-left: -10px;
  
    background-size: cover;
}
.imagem2 > p{
    background-color: rgba(0, 0, 0, 0.438);
    display: inline-block;
    color: white;
}
footer{
    background-color: black;
    color: white;
    font-family: var(--fonte1);
    text-align: center;
    padding: 10px

}